.ui-graph {
    background-color: whitesmoke;
}

.ui-graph .ui-graph-path {
    fill: none;
    stroke-width: 1.5px;
    stroke: crimson;
}

#button {
    background-color: #4CAF50;
    display: inline-block;
    margin-left: 200px;
}