.ui-graph {
    background-color: whitesmoke;
}

.ui-graph .ui-graph-path {
    fill: none;
    stroke-width: 1.5px;
    stroke: crimson;
}

.price-indicator-text {
    display: inline;
    color: white;
    font-family: 'sans-serif';
    font-size: 16pt;
}

#button {
    background-color: #1fb8ab;
    color: white;
    margin-left: 200px;
}