.ui-graph-container {
    display: flex;
    flex-direction: column;
}

.ui-graph {
    align-self: center;
}

.ui-graph > .ui-graph-path {
    fill: none;
    stroke-width: 1px;
    stroke: black;
}
.ui-graph > .ui-graph-axis {
    color: black;
}

.ui-graph-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.ui-graph-controls > .ui-text {
    color: black;
    flex: 4 1 auto;
    font-family: 'sans-serif';
    font-size: 16pt;
}
.ui-graph-controls > .ui-button {
    background-color: #1fb8ab;
    color: white;
    margin-left: 200px;
}