#app-root {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #3248d0;
}

#app-grid {
    background-color: #FFFFFF1A;
    padding: 2rem;
    position: absolute;
    left: 10%;
    right: 10%;
    height: 100%;
}